<!doctype html>

<!-- Minimalistic slideshow -->

<html lang="en">

    <head>
        <link rel="stylesheet" href="{{ "/css/majestic-csc.css" | relative_url }}"/>
        <script src="{{ "/js/majestic.js" | relative_url }}"></script>
    </head>

    <body style="display: none;"
          onload="init();"
          onkeydown="change(event);"
          onresize="resizeRem();">

        {% if page.titleslide %}
        <div class="title-slide">
            <div class="title-box">
                <div>
                    <div class="title">
                        {{ page.title }}
                    </div>
                    <div class="author">
                        {{ page.author }}</br>
                        CSC Training, {{ page.presentation-date }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {{ content }}

    </body>

</html>
