<!doctype html>

<!-- Minimalistic slideshow -->

<html lang="en">

    <head>

        <style>
{% include majestic-csc.css %}
        </style>

        <script>
{% include majestic.js %}
        </script>

    </head>

    <body style="display: none;"
          onload="init();"
          onkeydown="change(event);"
          onresize="resizeRem();">
{% if page.titleslide %}
        <div class="title-box">
            <h1>{{ page.title }}</h1>
            <p>{{ page.author }}<p>
            <p>CSC Training, {{ page.presentation-date }}<p>
        </div>
{% endif %}
{{ content }}
    </body>

</html>
